.App{
  width: 100%;
}
html{
  font-size: 20px;
  line-height: 1.5em;;
}
.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}
.side{padding-right: 300px;

}
h2{font-size: 1.2em;}
.hero .background-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  height: 100vh;
  background-size: cover;
 /* z-index: -1;*/
 background-image: url(/images/ensamble.jpg);
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
*, :after, :before {
  box-sizing: border-box;
}


.center{ display: flex;
  width:80%;
padding-left: 20px;
justify-content: center;
margin-top:50px;}

div {
  display: block;
}
.main{ padding-bottom:100px;
}




.App-link {
  color: white;
}
.other-link{ color: #5b2115;
        font-weight: 700;
      font-size: 1.2rem;}
      .top-space{
        margin-top: 1rem;
      }
      .theme-color{
        color: #5b2115;
      }

      footer{padding:40px 0px;
        
        width:100%;
        background-color:  #5b2115;}
        .contacts{color:wheat;}

        .contacts{
          text-align: center;
        }
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/*

.flex{display:flex;
}
.other-link{ color: #5b2115;
        font-weight: 700;
      font-size: 1.2rem;}
      .top-space{
        margin-top: 1rem;
      }*/