/*test*/
.hero-content-area {
  opacity: 0;
  animation: 3s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
      opacity: 1;
  }
}
/*test end*/
html{
  font-size: 20px;
  line-height: 2rem;;
}
.App{
  width: 100%;
}
p, h1, h2,h3{  
 color: #716a61;
  
}
.hero-text{  color: antiquewhite;}
/*Nav*/
nav {
  display: flex;
  justify-content: space-between;
  z-index: 300;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
nav ul{
  display: flex;
  
  list-style: none;
  padding: 0;
}
nav li a {color: antiquewhite;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

nav li:hover a {
  /* font-weight: 700;*/
  color:  rgb(240, 204, 160);
}
.ul_2{
  display: flex;
 
}
/*Nav end*/


main{
  margin:0 auto;
  width:85vw;
}
.musical-theatre-img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /*test*/
  
}
.brighter{filter: brightness(130%);
 
}

.name{
  z-index: 20;
 font-size: 60px;
 line-height: 1em;
}
*, :after, :before {
  box-sizing: border-box;
}
.side{
margin-top: 1.5rem;
margin-left: 50px;}
.discription{
  display: flex;
}
div{
  display: block;
}
.main{ 
  display:flex;
  padding-bottom:50px;
}
.App-link {
  color: white;
}
.other-link{ 
  color: rgb(240, 204, 160);
        font-weight: 700;
      font-size: 1.2rem;}
      .top-space{
        margin-top: 1rem;
      }
footer{
        padding:60px 0px;
        text-align: center;
        width:100%;
       /* background-color: rgb(240, 204, 160);
        background-color: rgb(216, 148, 132);
   */
  }
    
.intro-grid{
          /* background-color: lightseagreen;*/
           display:grid;
           grid-template-columns: 2fr 1fr;
           grid-template-rows: 1fr;
           grid-gap:3%;
         padding: 50px 0px;}
.gallery{
 /* background-color: lightseagreen;*/
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:3%;
}
/*Ipad*/
@media only screen and (max-width: 769px) {
  html{font-size:16px;}
 .gallery{ 
   border-top:none;
  padding-top: 0em;
}
 .valentina{
   display: none;
  }
 .intro-grid{
   grid-template-columns: 1fr;
  }
 .intro-img{
   display: none;
  }
footer{margin-bottom: 100px;}
}


.heading-intro{
  font-size:500% ;
}
.gallery-pik{
            width:90%;
            border-radius: 8px;
          }
.hero{
  position: relative;
}

.hero .text-cont{
  position: absolute;
  top: 34%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
 /* letter-spacing: 1.5px;*/
}
.heading-intro{
  text-align: center;
/*font-size: 500%;*/
/*
  color:rgb(40, 57, 32);
text-align: center;
  font-size: 100px;
line-height: 1em;
margin:0px ;
border: 10px solid goldenrod;
*/ 
}

.intro-p{
  /*font-style: italic;*/
  font-weight: bold;
  font-size: 2em;
 /*font-size: 40px;*/
 text-align: center;
 /*color:rgb(40, 57, 32);*/
 
}

.main_text p{
  width:50vw;
}
/*.main-img{align-items: flex-end;
}*/
.gallery-pik-pok{
  border-radius: 8px;
}
/*.item-4{filter: invert(20%);}*/
/*Test code*/
img {
  /* at least fill the parent */
  min-width: 100%;
  /* don't exceed the parent */
  max-width: 100%;
  /*
  object-fit: cover;
  didn´t make img 100%
  */
}
.small{
  font-size: 1.5em;
  margin-bottom: 0em;
}
.mini{
  font-size:1em;
  margin-top: 0em;
}

.footer-name{
  margin: 0px;} 
  .footer-p{
    margin-top: 0px;
  }
  .img-heading{
    display: none;
  }

  .img-heading:hover{display:block;
   width:30%;
    position:absolute;
    z-index: 500;
    padding:30px;
    color:white;
  }
.shows-heading{
border-top: 2px solid rgb(240, 204, 160);
font-size: 2rem;
padding-top: 2rem;
}
/*Tikets*/
.price{margin-right: 20px;}
.tiket-container{display:flex;
  justify-content: space-between;
  border-bottom:2px solid rgb(240, 204, 160);
  padding-bottom: 40px;
}

/*Iphone*/
@media only screen and (max-width: 440px){
  nav{justify-content: center;}
  nav li {
    margin: 0 5px;
}
nav li  {
    font-size: 15px;
}
  nav li a {margin:0px;
  padding:4px;}
 .heading-intro{font-size:2.5rem;}
 .hero .text-cont{
 
  top: 38%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
 /* letter-spacing: 1.5px;*/
}
  .text-cont{
    padding-top:115px;
width:80%;
}
 .intro-grid{padding:12px 0px;}
 .shows{margin:0px;
padding-bottom:20px ;}
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom:40px;
    grid-gap:0;
    
  }
  footer {
    margin-bottom:0px;
    padding: 0px 0px 20px 0px;
  }
}
