
.show{
    padding-top: 100px;

}
.show-item{
    
        /* background-color: lightseagreen; */
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 5%;
    
}

@media only screen and (max-width: 769px){
    .show-item{
        grid-template-columns:1fr;
    }
.show-img{
    padding-bottom: 100px;
}
}



